Repository boostcamp-2020/IssueTracker-18, pull requests merged in 2020-11, with the labels that each got.

#46 collectionView 기본 구성
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  client/iOS/IssueTracker/IssueTracker/IssueListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Model/Issue.swift
  client/iOS/IssueTracker/IssueTracker/Model/Label.swift
  client/iOS/IssueTracker/IssueTracker/Model/Milestone.swift
  client/iOS/IssueTracker/IssueTracker/Model/User.swift
Labels: feat

#48 이슈 목록 collectionView 생성
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  client/iOS/IssueTracker/IssueTracker/AppDelegate.swift
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/AccentColor.colorset/Contents.json
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Contents.json
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/Contents.json
  client/iOS/IssueTracker/IssueTracker/Base.lproj/LaunchScreen.storyboard
  client/iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  client/iOS/IssueTracker/IssueTracker/Info.plist
  client/iOS/IssueTracker/IssueTracker/IssueListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Model/Issue.swift
  client/iOS/IssueTracker/IssueTracker/Model/Label.swift
  client/iOS/IssueTracker/IssueTracker/Model/Milestone.swift
  client/iOS/IssueTracker/IssueTracker/Model/User.swift
  client/iOS/IssueTracker/IssueTracker/SceneDelegate.swift
  client/iOS/IssueTracker/IssueTrackerTests/Info.plist
  client/iOS/IssueTracker/IssueTrackerTests/IssueTrackerTests.swift
  client/iOS/IssueTracker/IssueTrackerUITests/Info.plist
  client/iOS/IssueTracker/IssueTrackerUITests/IssueTrackerUITests.swift
  client/iOS/README.md
Labels: feat, 이슈 목록

#52 Association 수정, milestone, label API 구현
  server/controllers/index.js
  server/controllers/label.js
  server/controllers/milestone.js
  server/database/seeders/20201102080307-seed.js
  server/models/associations.js
  server/package-lock.json
  server/package.json
Labels: API, BE, feat

#51 issue, user api 구현 (미완성), seeder 데이터 추가 및 변경
  server/controllers/index.js
  server/controllers/issue.js
  server/controllers/user.js
  server/database/seeders/20201102080307-seed.js
  server/models/index.js
  server/package-lock.json
  server/package.json
Labels: API, BE, feat

#59 comment API, emoji API 리팩토링
  server/controllers/comment.js
  server/controllers/emoji.js
Labels: API, BE

#60 user, issue api 구현, error handler 추가, seeder 더미데이터 추가
  server/app.js
  server/controllers/issue.js
  server/controllers/user.js
  server/database/seeders/20201102080307-seed.js
Labels: API, BE, feat

#61 마일스톤 목록 화면 및 기능 구현
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  client/iOS/IssueTracker/IssueTracker/MilestoneListViewController.swift
  client/iOS/IssueTracker/IssueTracker/MilestonePopUpViewController.swift
  client/iOS/IssueTracker/IssueTracker/NibWrapperView.swift
  client/iOS/IssueTracker/IssueTracker/PopUpView.swift
  client/iOS/IssueTracker/IssueTracker/PopUpView.xib
  client/iOS/IssueTracker/IssueTracker/UIView+Nib.swift
  client/iOS/IssueTracker/IssueTracker/UIViewController+Present.swift
Labels: feat, iOS, 마일스톤

#66 issue, user api 리펙토링 및 구현
  server/controllers/issue.js
  server/controllers/user.js
Labels: API, BE, feat

#67 깃허브 로그인 구현, 이슈 생성 및 필터링 API 구현
  server/app.js
  server/controllers/auth/index.js
  server/controllers/issue.js
  server/models/associations.js
  server/package-lock.json
  server/package.json
  server/passport/authenticate-middleware.js
  server/passport/index.js
Labels: API, BE, 이슈 목록, 이슈 생성

#69 레이블 목록 화면 LabelListCell 적용
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  client/iOS/IssueTracker/IssueTracker/LabelLabel.swift
  client/iOS/IssueTracker/IssueTracker/LabelListCell.swift
  client/iOS/IssueTracker/IssueTracker/LabelListViewController.swift
  client/iOS/IssueTracker/IssueTracker/LabelView.swift
  client/iOS/IssueTracker/IssueTracker/MilestoneListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Model/Comment.swift
  client/iOS/IssueTracker/IssueTracker/NibWrapperView.swift
  client/iOS/IssueTracker/IssueTracker/PopUpView.swift
  client/iOS/IssueTracker/IssueTracker/PopUpView.xib
  client/iOS/IssueTracker/IssueTracker/PopUpViewController.swift
  client/iOS/IssueTracker/IssueTracker/UIView+Nib.swift
  client/iOS/IssueTracker/IssueTracker/UIViewController+Present.swift
Labels: feat, iOS, 레이블

#71 마일스톤 목록 뷰에 콜렉션 뷰 및 리스트 셀 추가
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker/BadgeLabel.swift
  client/iOS/IssueTracker/IssueTracker/BadgeView.swift
  client/iOS/IssueTracker/IssueTracker/BadgeView.xib
  client/iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  client/iOS/IssueTracker/IssueTracker/MilestoneCollectionViewCell.swift
  client/iOS/IssueTracker/IssueTracker/MilestoneListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Model/Comment.swift
  client/iOS/IssueTracker/IssueTracker/PopUpViewController.swift
  client/iOS/IssueTracker/IssueTracker/UIColor+HexString.swift
Labels: feat, iOS, 마일스톤

#73 NetworkManager로 Label 목록 불러오기
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker.xcworkspace/contents.xcworkspacedata
  client/iOS/IssueTracker/IssueTracker.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  client/iOS/IssueTracker/IssueTracker/LabelListCell.swift
  client/iOS/IssueTracker/IssueTracker/LabelListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Model/Comment.swift
  client/iOS/IssueTracker/IssueTracker/Model/Label.swift
  client/iOS/IssueTracker/IssueTracker/Model/Milestone.swift
  client/iOS/IssueTracker/IssueTracker/Model/NetworkManager.swift
  client/iOS/IssueTracker/IssueTracker/Model/User.swift
  client/iOS/IssueTracker/Podfile
  client/iOS/IssueTracker/Podfile.lock
Labels: feat, iOS, 레이블

#76 마일스톤 리스트 서버에서 불러오는 기능 추가
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker.xcworkspace/contents.xcworkspacedata
  client/iOS/IssueTracker/IssueTracker.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  client/iOS/IssueTracker/IssueTracker/BadgeView.swift
  client/iOS/IssueTracker/IssueTracker/BadgeView.xib
  client/iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  client/iOS/IssueTracker/IssueTracker/LabelListCell.swift
  client/iOS/IssueTracker/IssueTracker/LabelListViewController.swift
  client/iOS/IssueTracker/IssueTracker/MilestoneCollectionViewCell.swift
  client/iOS/IssueTracker/IssueTracker/MilestoneListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Model/Comment.swift
  client/iOS/IssueTracker/IssueTracker/Model/Label.swift
  client/iOS/IssueTracker/IssueTracker/Model/Milestone.swift
  client/iOS/IssueTracker/IssueTracker/Model/NetworkManager.swift
  client/iOS/IssueTracker/IssueTracker/Model/User.swift
  client/iOS/IssueTracker/Podfile
  client/iOS/IssueTracker/Podfile.lock
Labels: API, feat, iOS, 마일스톤

#75 프론트 환경 세팅 및 초기설정, 이슈 목록 불러오기 화면 구현
  client/web/.babelrc
  client/web/.gitignore
  client/web/package-lock.json
  client/web/package.json
  client/web/public/data.json
  client/web/public/index.html
  client/web/src/App.css
  client/web/src/App.js
  client/web/src/Filter.js
  client/web/src/Issue.js
  client/web/src/IssueAssignee.js
  client/web/src/IssueAssignees.js
  client/web/src/IssueAuthor.js
  client/web/src/IssueCheckbox.js
  client/web/src/IssueLabel.js
  client/web/src/IssueLabels.js
  client/web/src/IssueList.js
  client/web/src/IssueListContainer.js
  client/web/src/IssueMilestone.js
  client/web/src/IssueTitle.js
  client/web/src/Login.js
  client/web/src/Test.js
  client/web/src/index.js
  client/web/webpack.config.js
Labels: FE, feat, 이슈 목록

#83 파일 정리 및 오토레이아웃 조정
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Contents.json
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024 – 1.png
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x – 1.png
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x – 1@2x-1.png
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x – 1@2x.png
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x – 1@3x.png
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x – 1.png
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x – 1@2x-1.png
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x – 1@2x.png
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x – 1@3x.png
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x – 1.png
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x – 1@2x-1.png
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x – 1@2x.png
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x – 1@3x.png
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@1x – 1@2x.png
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@1x – 1@3x.png
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x – 1.png
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x – 1@2x.png
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x – 1.png
  client/iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  client/iOS/IssueTracker/IssueTracker/Controller/IssueListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/LabelListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/MilestoneListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/PopUpViewController.swift
  client/iOS/IssueTracker/IssueTracker/Extension/UIColor+HexString.swift
  client/iOS/IssueTracker/IssueTracker/Extension/UIView+Nib.swift
  client/iOS/IssueTracker/IssueTracker/Extension/UIViewController+Present.swift
  client/iOS/IssueTracker/IssueTracker/Info.plist
  client/iOS/IssueTracker/IssueTracker/LabelLabel.swift
  client/iOS/IssueTracker/IssueTracker/View/BadgeLabel.swift
  client/iOS/IssueTracker/IssueTracker/View/LabelListCell.swift
  client/iOS/IssueTracker/IssueTracker/View/MilestoneCollectionViewCell.swift
  client/iOS/IssueTracker/IssueTracker/View/NibWrapperView.swift
  client/iOS/IssueTracker/IssueTracker/View/PopUpView.swift
  client/iOS/IssueTracker/IssueTracker/View/PopUpView.xib
  client/iOS/IssueTracker/Podfile.lock
Labels: bug, iOS

#85 issue API isOpen patch 추가
  README.md
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  client/iOS/IssueTracker/IssueTracker.xcworkspace/contents.xcworkspacedata
  client/iOS/IssueTracker/IssueTracker.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  client/iOS/IssueTracker/IssueTracker/AppDelegate.swift
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/AccentColor.colorset/Contents.json
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Contents.json
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/Contents.json
  client/iOS/IssueTracker/IssueTracker/BadgeLabel.swift
  client/iOS/IssueTracker/IssueTracker/Base.lproj/LaunchScreen.storyboard
  client/iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  client/iOS/IssueTracker/IssueTracker/Info.plist
  client/iOS/IssueTracker/IssueTracker/IssueListViewController.swift
  client/iOS/IssueTracker/IssueTracker/LabelLabel.swift
  client/iOS/IssueTracker/IssueTracker/LabelListCell.swift
  client/iOS/IssueTracker/IssueTracker/LabelListViewController.swift
  client/iOS/IssueTracker/IssueTracker/LabelView.swift
  client/iOS/IssueTracker/IssueTracker/MilestoneCollectionViewCell.swift
  client/iOS/IssueTracker/IssueTracker/MilestoneListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Model/Comment.swift
  client/iOS/IssueTracker/IssueTracker/Model/Emoji.swift
  client/iOS/IssueTracker/IssueTracker/Model/Issue.swift
  client/iOS/IssueTracker/IssueTracker/Model/Label.swift
  client/iOS/IssueTracker/IssueTracker/Model/Milestone.swift
  client/iOS/IssueTracker/IssueTracker/Model/NetworkManager.swift
  client/iOS/IssueTracker/IssueTracker/Model/User.swift
  client/iOS/IssueTracker/IssueTracker/NibWrapperView.swift
  client/iOS/IssueTracker/IssueTracker/PopUpView.swift
  client/iOS/IssueTracker/IssueTracker/PopUpView.xib
  client/iOS/IssueTracker/IssueTracker/PopUpViewController.swift
  client/iOS/IssueTracker/IssueTracker/SceneDelegate.swift
  client/iOS/IssueTracker/IssueTracker/UIColor+HexString.swift
  client/iOS/IssueTracker/IssueTracker/UIView+Nib.swift
  client/iOS/IssueTracker/IssueTracker/UIViewController+Present.swift
  client/iOS/IssueTracker/IssueTrackerTests/Info.plist
  client/iOS/IssueTracker/IssueTrackerTests/IssueTrackerTests.swift
  client/iOS/IssueTracker/IssueTrackerUITests/Info.plist
  client/iOS/IssueTracker/IssueTrackerUITests/IssueTrackerUITests.swift
  client/iOS/IssueTracker/Podfile
  client/iOS/IssueTracker/Podfile.lock
  client/iOS/README.md
  server/controllers/issue.js
Labels: API, BE, feat

#88 PopUpViewController HIG에 맞는 수정
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  client/iOS/IssueTracker/IssueTracker/Controller/LabelListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/MilestoneListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/PopUpViewController.swift
  client/iOS/IssueTracker/IssueTracker/Extension/UITextField+PlaceholderColor.swift
  client/iOS/IssueTracker/IssueTracker/Extension/UIViewController+Present.swift
  client/iOS/IssueTracker/IssueTracker/Model/BadgeType.swift
  client/iOS/IssueTracker/IssueTracker/View/BadgeLabel.swift
Labels: feat, iOS, 레이블, 마일스톤

#89 issueCollectionView Cell custom
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  client/iOS/IssueTracker/IssueTracker/Controller/IssueListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/LabelListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/MilestoneListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/PopUpViewController.swift
  client/iOS/IssueTracker/IssueTracker/Extension/UITextField+PlaceholderColor.swift
  client/iOS/IssueTracker/IssueTracker/Extension/UIViewController+Present.swift
  client/iOS/IssueTracker/IssueTracker/Model/BadgeType.swift
  client/iOS/IssueTracker/IssueTracker/Model/Badgeable.swift
  client/iOS/IssueTracker/IssueTracker/Model/Comment.swift
  client/iOS/IssueTracker/IssueTracker/Model/Emoji.swift
  client/iOS/IssueTracker/IssueTracker/Model/Issue.swift
  client/iOS/IssueTracker/IssueTracker/Model/Label.swift
  client/iOS/IssueTracker/IssueTracker/Model/Milestone.swift
  client/iOS/IssueTracker/IssueTracker/Model/NetworkManager.swift
  client/iOS/IssueTracker/IssueTracker/Model/User.swift
  client/iOS/IssueTracker/IssueTracker/View/BadgeLabel.swift
  client/iOS/IssueTracker/IssueTracker/View/IssueCollectionViewCell.swift
Labels: feat, iOS, 이슈 목록

#90 팝업창에서 새로운 라벨이나 마일스톤 생성하는 Post 기능 추가
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker/Controller/LabelListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/MilestoneListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/PopUpViewController.swift
  client/iOS/IssueTracker/IssueTracker/Extension/Date+EasyConverter.swift
  client/iOS/IssueTracker/IssueTracker/Extension/UIViewController+Present.swift
  client/iOS/IssueTracker/IssueTracker/Model/Badgeable.swift
  client/iOS/IssueTracker/IssueTracker/Model/Comment.swift
  client/iOS/IssueTracker/IssueTracker/Model/Issue.swift
  client/iOS/IssueTracker/IssueTracker/Model/Label.swift
  client/iOS/IssueTracker/IssueTracker/Model/Milestone.swift
  client/iOS/IssueTracker/IssueTracker/Model/NetworkManager.swift
  client/iOS/IssueTracker/IssueTracker/Model/User.swift
  client/iOS/IssueTracker/IssueTrackerTests/IssueTrackerTests.swift
Labels: feat, iOS

#91 iOS <- feat/iOS/popUp
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker/Controller/LabelListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Extension/Date+EasyConverter.swift
  client/iOS/IssueTracker/IssueTracker/Extension/UIViewController+Present.swift
  client/iOS/IssueTracker/IssueTracker/Model/Badgeable.swift
  client/iOS/IssueTracker/IssueTracker/Model/Comment.swift
  client/iOS/IssueTracker/IssueTracker/Model/Issue.swift
  client/iOS/IssueTracker/IssueTrackerTests/IssueTrackerTests.swift
Labels: iOS

#95 Issue Cell에 swipe 기능 및 삭제 기능 추가
  client/iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  client/iOS/IssueTracker/IssueTracker/Controller/IssueListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/LabelListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/MilestoneListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/PopUpViewController.swift
  client/iOS/IssueTracker/IssueTracker/Extension/UIViewController+Present.swift
  client/iOS/IssueTracker/IssueTracker/Model/NetworkManager.swift
Labels: API, feat, iOS, 이슈 목록

#94 popUp뷰가 사라질 때 콜렉션뷰 데이터가 리로드 되도록 콜백 추가
  client/iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  client/iOS/IssueTracker/IssueTracker/Controller/LabelListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/MilestoneListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/PopUpViewController.swift
  client/iOS/IssueTracker/IssueTracker/Extension/UIViewController+Present.swift
Labels: API, bug, feat, iOS

#98 GET comment 버그 수정
  server/controllers/comment.js
Labels: API, BE, bug

#113 front gitignore에 .env 추가, eslint, prettier 설정
  client/web/.eslintrc.js
  client/web/.gitignore
  client/web/.prettierrc.json
  client/web/package-lock.json
  client/web/package.json
  client/web/yarn.lock
Labels: FE

#115 프론트 issue목록 구현, root css 작성
  client/web/.gitignore
  client/web/src/App.css
  client/web/src/App.js
  client/web/src/Filter.js
  client/web/src/IssueLabel.js
  client/web/src/IssueList.js
  client/web/src/IssueList/Assignee.js
  client/web/src/IssueList/AssigneeList.js
  client/web/src/IssueList/AssigneeListContainer.js
  client/web/src/IssueList/Issue.js
  client/web/src/IssueList/IssueAssignee.js
  client/web/src/IssueList/IssueAssignees.js
  client/web/src/IssueList/IssueAuthor.js
  client/web/src/IssueList/IssueCheckbox.js
  client/web/src/IssueList/IssueLabel.js
  client/web/src/IssueList/IssueLabels.js
  client/web/src/IssueList/IssueList.js
  client/web/src/IssueList/IssueListHeader.js
  client/web/src/IssueList/IssueListMain.js
  client/web/src/IssueList/IssueListMainFilter.js
  client/web/src/IssueList/IssueMilestone.js
  client/web/src/IssueList/IssueTitle.js
  client/web/src/IssueListContainer.js
  client/web/src/Login/Login.js
  client/web/src/Test.js
Labels: FE, feat, must🔥

#112 이슈 목록에 close 기능 추가
  client/iOS/IssueTracker/IssueTracker/Controller/IssueListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Model/Issue.swift
  client/iOS/IssueTracker/IssueTracker/Model/NetworkManager.swift
Labels: API, feat, iOS, 이슈 목록

#120 이슈 상세 정적 페이지 구현
  client/web/src/IssueDetail/ButtonComponent.js
  client/web/src/IssueDetail/CommentBox.js
  client/web/src/IssueDetail/CommentContainer.js
  client/web/src/IssueDetail/CommentCreate.js
  client/web/src/IssueDetail/CommentCreateButton.js
  client/web/src/IssueDetail/IsOpenBox.js
  client/web/src/IssueDetail/IssueContent.js
  client/web/src/IssueDetail/IssueDetail.js
  client/web/src/IssueDetail/IssueTitle.js
  client/web/src/IssueDetail/SideMenu.js
  client/web/src/IssueDetail/SideMenuContainer.js
Labels: FE, feat, 이슈 상세

#121 component 재사용을 위한 리펙토링 적용, atoms, molecules추가
  client/web/src/IssueList/Assignee.js
  client/web/src/IssueList/AssigneeList.js
  client/web/src/IssueList/AssigneeListContainer.js
  client/web/src/IssueList/DropDownFilterList.js
  client/web/src/IssueList/DropDownFilterListContainer.js
  client/web/src/IssueList/DropDownModelList.js
  client/web/src/IssueList/DropDownModelListContainer.js
  client/web/src/IssueList/Issue.js
  client/web/src/IssueList/IssueListHeader.js
  client/web/src/IssueList/IssueListMainFilter.js
  client/web/src/atoms/DropDownItem.js
  client/web/src/molecules/index.js
Labels: FE, feat, must🔥

#122 레이블 화면 정적 컴포넌트 구현,
  client/web/package-lock.json
  client/web/package.json
  client/web/src/Label/LabelListContainer/LabelList/Label.js
  client/web/src/Label/LabelListContainer/LabelList/LabelListHeader.js
  client/web/src/Label/LabelListContainer/LabelList/index.js
  client/web/src/Label/LabelListContainer/LabelListControlBar/LabelAddButton.js
  client/web/src/Label/LabelListContainer/LabelListControlBar/LabelAddFormContainer/LabelAddForm.js
  client/web/src/Label/LabelListContainer/LabelListControlBar/LabelAddFormContainer/index.js
  client/web/src/Label/LabelListContainer/LabelListControlBar/LabelMilestoneNav.js
  client/web/src/Label/LabelListContainer/LabelListControlBar/index.js
  client/web/src/Label/LabelListContainer/index.js
  client/web/webpack.config.js
  client/web/yarn.lock
Labels: 레이블

#119 새 이슈 생성 화면 구성
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  client/iOS/IssueTracker/IssueTracker/NewIssueViewController.swift
Labels: feat, iOS, 이슈 생성

#118 레이블 팝업 뷰 커스텀 및 랜덤 컬러 지정 기능 추가
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  client/iOS/IssueTracker/IssueTracker/Controller/IssueListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/LabelListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/MilestoneListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/PopUpViewController.swift
  client/iOS/IssueTracker/IssueTracker/Extension/UIColor+RandomColor.swift
  client/iOS/IssueTracker/IssueTracker/Extension/UIViewController+Present.swift
  client/iOS/IssueTracker/IssueTracker/Model/NetworkManager.swift
  client/iOS/IssueTracker/IssueTracker/View/BadgeLabel.swift
  client/iOS/IssueTracker/IssueTracker/View/PopUpView.swift
  client/iOS/IssueTracker/IssueTracker/View/PopUpView.xib
Labels: feat, iOS, 레이블

#117 이슈 목록 편집 기능 및 화면 추가
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  client/iOS/IssueTracker/IssueTracker/Controller/IssueEditViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/IssueListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/LabelListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/MilestoneListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Extension/UIViewController+NavigationBar.swift
  client/iOS/IssueTracker/IssueTracker/Model/NetworkManager.swift
  client/iOS/IssueTracker/IssueTracker/View/IssueCollectionViewCell.swift
Labels: API, bug, feat, iOS

#127 이슈 디테일 화면 구성
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  client/iOS/IssueTracker/IssueTracker/Controller/IssueDetailViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/IssueEditViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/IssueListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/MilestoneListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Extension/Date+EasyConverter.swift
  client/iOS/IssueTracker/IssueTracker/Extension/String+TimeAgoDisplay.swift
  client/iOS/IssueTracker/IssueTracker/Extension/UIViewController+NavigationBar.swift
  client/iOS/IssueTracker/IssueTracker/Model/Comment.swift
  client/iOS/IssueTracker/IssueTracker/Model/NetworkManager.swift
  client/iOS/IssueTracker/IssueTracker/Model/User.swift
  client/iOS/IssueTracker/IssueTracker/View/CommentCollectionViewCell.swift
Labels: feat, iOS, 이슈 상세

#129 머지 후 버그 수정
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  client/iOS/IssueTracker/IssueTracker/Controller/IssueEditViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/IssueListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/LabelListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/MilestoneListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/NewIssueViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/PopUpViewController.swift
  client/iOS/IssueTracker/IssueTracker/Model/Milestone.swift
  client/iOS/IssueTracker/IssueTracker/Model/NetworkManager.swift
  client/iOS/IssueTracker/IssueTracker/View/PopUpView.swift
  client/iOS/IssueTracker/IssueTracker/View/PopUpView.xib
Labels: bug, iOS

#134 bottomSheetView swiftUI 기본 구현
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  client/iOS/IssueTracker/IssueTracker/BottomViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/IssueListViewController.swift
  client/iOS/IssueTracker/IssueTracker/SwiftUIView.swift
  client/iOS/IssueTracker/Pods/Pods.xcodeproj/project.pbxproj
Labels: feat, iOS, 이슈 상세

#135 iOS <- feat/iOS/swiftUIBottomSheet
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  client/iOS/IssueTracker/IssueTracker/BottomViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/IssueListViewController.swift
  client/iOS/IssueTracker/IssueTracker/SwiftUIView.swift
  client/iOS/IssueTracker/Pods/Pods.xcodeproj/project.pbxproj
Labels: iOS, 이슈 상세

#137 iOS <- feat/iOS/bugFix
  client/iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  client/iOS/IssueTracker/IssueTracker/Controller/IssueListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/LabelListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/MilestoneListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Extension/UIViewController+Present.swift
  client/iOS/IssueTracker/Pods/Pods.xcodeproj/project.pbxproj
Labels: bug, iOS, 레이블, 마일스톤, 이슈 목록

#140 새 이슈 등록 기능 추가
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  client/iOS/IssueTracker/IssueTracker/BottomViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/IssueDetailViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/IssueEditViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/IssueListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/LabelListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/MilestoneListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/NewIssueViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/PopUpViewController.swift
  client/iOS/IssueTracker/IssueTracker/Extension/Date+EasyConverter.swift
  client/iOS/IssueTracker/IssueTracker/Extension/Date+toString.swift
  client/iOS/IssueTracker/IssueTracker/Extension/String+TimeAgoDisplay.swift
  client/iOS/IssueTracker/IssueTracker/Extension/UIColor+RandomColor.swift
  client/iOS/IssueTracker/IssueTracker/Extension/UIViewController+NavigationBar.swift
  client/iOS/IssueTracker/IssueTracker/Extension/UIViewController+Present.swift
  client/iOS/IssueTracker/IssueTracker/Model/Comment.swift
  client/iOS/IssueTracker/IssueTracker/Model/Issue.swift
  client/iOS/IssueTracker/IssueTracker/Model/Milestone.swift
  client/iOS/IssueTracker/IssueTracker/Model/NetworkManager.swift
  client/iOS/IssueTracker/IssueTracker/Model/User.swift
  client/iOS/IssueTracker/IssueTracker/NewIssueViewController.swift
  client/iOS/IssueTracker/IssueTracker/SwiftUIView.swift
  client/iOS/IssueTracker/IssueTracker/View/BadgeLabel.swift
  client/iOS/IssueTracker/IssueTracker/View/CommentCollectionViewCell.swift
  client/iOS/IssueTracker/IssueTracker/View/IssueCollectionViewCell.swift
  client/iOS/IssueTracker/IssueTracker/View/PopUpView.swift
  client/iOS/IssueTracker/IssueTracker/View/PopUpView.xib
Labels: feat, iOS, 이슈 생성

#147 React Router 활용 로그인 구현
  client/web/package.json
  client/web/src/App.js
  client/web/src/IssueList/IssueList.js
  client/web/src/Label/LabelListContainer/LabelList/index.js
  client/web/src/Label/LabelListContainer/LabelListControlBar/LabelAddButton.js
  client/web/src/Label/LabelListContainer/LabelListControlBar/LabelAddFormContainer/LabelAddForm.js
  client/web/src/Label/LabelListContainer/LabelListControlBar/LabelAddFormContainer/index.js
  client/web/src/Label/LabelListContainer/index.js
  client/web/src/LabelMilestone/Label/Label.js
  client/web/src/LabelMilestone/Label/LabelForm.js
  client/web/src/LabelMilestone/Label/LabelFormContainer.js
  client/web/src/LabelMilestone/Label/LabelList.js
  client/web/src/LabelMilestone/Label/LabelListHeader.js
  client/web/src/LabelMilestone/LabelMilestoneControlBar.js
  client/web/src/LabelMilestone/LabelMilestoneNav.js
  client/web/src/LabelMilestone/LabelMilestoneRootContainer.js
  client/web/src/Login/Login.js
  client/web/src/atoms/Button.js
  client/web/src/atoms/LabelTag.js
  client/web/src/auth/index.js
  client/web/src/utils/generate-random-color.js
  client/web/webpack.config.js
  client/web/yarn.lock
  server/app.js
  server/controllers/auth/index.js
  server/controllers/user.js
  server/package-lock.json
  server/passport/index.js
  server/public/index.html
Labels: FE, 로그인

#144 이슈 목록 화면 구현, 라우팅 적용, 새로고침 이슈 해결
  client/web/package-lock.json
  client/web/package.json
  client/web/src/App.js
  client/web/src/IssueList/DropDownFilterList.js
  client/web/src/IssueList/DropDownFilterListContainer.js
  client/web/src/IssueList/DropDownModelList.js
  client/web/src/IssueList/Issue.js
  client/web/src/IssueList/IssueAssignee.js
  client/web/src/IssueList/IssueAssignees.js
  client/web/src/IssueList/IssueAuthor.js
  client/web/src/IssueList/IssueCheckbox.js
  client/web/src/IssueList/IssueLabel.js
  client/web/src/IssueList/IssueLabels.js
  client/web/src/IssueList/IssueList.js
  client/web/src/IssueList/IssueListHeader.js
  client/web/src/IssueList/IssueMilestone.js
  client/web/src/IssueList/IssueTitle.js
  client/web/src/atoms/Checkbox.js
  client/web/src/atoms/DropDownFilterList.js
  client/web/src/atoms/DropDownItem.js
  client/web/src/atoms/DropDownModelList.js
  client/web/src/atoms/IssueAssignees.js
  client/web/src/atoms/IssueAuthor.js
  client/web/src/atoms/IssueLabels.js
  client/web/src/atoms/IssueMetaInfo.js
  client/web/src/atoms/IssueMilestone.js
  client/web/src/atoms/IssueTitle.js
  client/web/src/atoms/ListItem.js
  client/web/src/atoms/TextArea.js
  client/web/src/controllers/DropDownFilterList.js
  client/web/src/controllers/DropDownModelList.js
  client/web/src/index.js
  client/web/src/molecules/DropDownFilterListContainer.js
  client/web/src/molecules/DropDownModelListContainer.js
  client/web/src/molecules/IssueListMainFilter.js
  client/web/src/molecules/IssueListMainList.js
  client/web/src/molecules/index.js
  client/web/src/organisms/IssueListHeader.js
  client/web/src/organisms/IssueListMain.js
  client/web/src/stores/FilterContext.js
  client/web/webpack.config.js
Labels: FE, feat, must🔥, 이슈 목록

#149 swiftUI 버전의 bottom sheet view 생성 및 스토리보드와 연결
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker/Controller/IssueListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Model/Comment.swift
  client/iOS/IssueTracker/IssueTracker/Model/Emoji.swift
  client/iOS/IssueTracker/IssueTracker/Model/Issue.swift
  client/iOS/IssueTracker/IssueTracker/Model/Label.swift
  client/iOS/IssueTracker/IssueTracker/Model/Milestone.swift
  client/iOS/IssueTracker/IssueTracker/Model/User.swift
  client/iOS/IssueTracker/IssueTracker/SwiftUI/AssigneeView.swift
  client/iOS/IssueTracker/IssueTracker/SwiftUI/BottomSheet.storyboard
  client/iOS/IssueTracker/IssueTracker/SwiftUI/BottomSheetView.swift
  client/iOS/IssueTracker/IssueTracker/SwiftUI/BottomSheetViewController.swift
  client/iOS/IssueTracker/IssueTracker/SwiftUI/MilestoneView.swift
  client/iOS/IssueTracker/IssueTracker/SwiftUI/NewCommentView.swift
  client/iOS/IssueTracker/IssueTracker/SwiftUI/TagCouldView.swift
  client/iOS/IssueTracker/IssueTracker/View/LabelListCell.swift
Labels: feat, iOS, must🔥, 이슈 상세

#152 이슈 상세 목록 swiftUI로 구현
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  client/iOS/IssueTracker/IssueTracker/Model/Comment.swift
  client/iOS/IssueTracker/IssueTracker/OpenCloseView.swift
  client/iOS/IssueTracker/IssueTracker/SwiftUIView.swift
Labels: feat, iOS, 이슈 상세

#151 이슈목록 라우팅 적용, API 주소 상수화
  client/web/src/App.js
  client/web/src/IssueDetail/CommentBox.js
  client/web/src/IssueDetail/CommentCreateButton.js
  client/web/src/IssueDetail/IssueTitle.js
  client/web/src/IssueList/IssueList.js
  client/web/src/LabelMilestone/LabelMilestoneRootContainer.js
  client/web/src/Login/Login.js
  client/web/src/atoms/DropDownModelList.js
  client/web/src/atoms/IssueTitle.js
  client/web/src/organisms/IssueListHeader.js
Labels: FE, feat, must🔥, 이슈 목록

#156 데이터 받아서 이슈 상세 화면 표시
  client/iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  client/iOS/IssueTracker/IssueTracker/BottomViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/IssueListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/NewIssueViewController.swift
  client/iOS/IssueTracker/IssueTracker/SwiftUI/BottomSheetView.swift
  client/iOS/IssueTracker/IssueTracker/SwiftUI/BottomSheetViewController.swift
  client/iOS/IssueTracker/IssueTracker/SwiftUIView.swift
Labels: feat, iOS, 이슈 상세

#166 마지막 버그 수정
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  client/iOS/IssueTracker/IssueTracker/Controller/IssueEditViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/IssueListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/MilestoneListViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/NewIssueViewController.swift
  client/iOS/IssueTracker/IssueTracker/Controller/PopUpViewController.swift
  client/iOS/IssueTracker/IssueTracker/Extension/UIColor+rgba.swift
  client/iOS/IssueTracker/IssueTracker/Extension/UIViewController+Present.swift
  client/iOS/IssueTracker/IssueTracker/IssueDetail/AssigneeView.swift
  client/iOS/IssueTracker/IssueTracker/IssueDetail/BottomSheetView.swift
  client/iOS/IssueTracker/IssueTracker/IssueDetail/BottomViewController.swift
  client/iOS/IssueTracker/IssueTracker/IssueDetail/MilestoneView.swift
  client/iOS/IssueTracker/IssueTracker/IssueDetail/NewCommentView.swift
  client/iOS/IssueTracker/IssueTracker/IssueDetail/OpenCloseView.swift
  client/iOS/IssueTracker/IssueTracker/IssueDetail/SwiftUIView.swift
  client/iOS/IssueTracker/IssueTracker/IssueDetail/TagCouldView.swift
  client/iOS/IssueTracker/IssueTracker/IssueDetail/TextView.swift
  client/iOS/IssueTracker/IssueTracker/Model/Comment.swift
  client/iOS/IssueTracker/IssueTracker/Model/Issue.swift
  client/iOS/IssueTracker/IssueTracker/SwiftUI/BottomSheet.storyboard
  client/iOS/IssueTracker/IssueTracker/SwiftUI/BottomSheetViewController.swift
  client/iOS/IssueTracker/IssueTracker/SwiftUI/NewCommentView.swift
  client/iOS/IssueTracker/IssueTracker/View/BadgeLabel.swift
Labels: bug, iOS
