Repository boostcamp-2020/IssueTracker-18, pull requests merged in 2020-10, with the labels that each got.

#39 [feat]: iOS 프로젝트 파일 생성
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  client/iOS/IssueTracker/IssueTracker/AppDelegate.swift
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/AccentColor.colorset/Contents.json
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Contents.json
  client/iOS/IssueTracker/IssueTracker/Assets.xcassets/Contents.json
  client/iOS/IssueTracker/IssueTracker/Base.lproj/LaunchScreen.storyboard
  client/iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  client/iOS/IssueTracker/IssueTracker/Info.plist
  client/iOS/IssueTracker/IssueTracker/SceneDelegate.swift
  client/iOS/IssueTracker/IssueTracker/ViewController.swift
  client/iOS/IssueTracker/IssueTrackerTests/Info.plist
  client/iOS/IssueTracker/IssueTrackerTests/IssueTrackerTests.swift
  client/iOS/IssueTracker/IssueTrackerUITests/Info.plist
  client/iOS/IssueTracker/IssueTrackerUITests/IssueTrackerUITests.swift
Labels: iOS

#40 feat: navigationController 추가 및 화면 구성
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  client/iOS/IssueTracker/IssueTracker/IssueListViewController.swift
Labels: iOS, 이슈 목록

#42 IssueListViewController 두 개 생기는 문제 해결
  client/iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  client/iOS/IssueTracker/IssueTracker/IssueListViewController.swift
Labels: bug, iOS, 이슈 목록
